{% use "@Contao/component/_figure.html.twig" %}

{% block event_teaser %}
    <div class="event layout_teaser{{ classUpcoming }} col {{ class|default('')}} s12 m4 l3">
        <div class="inner hc-bg-grey-dark">
            {% block event_teaser_media %}
                {% if addImage is defined and addImage and figure is defined and figure %}
                    {% set figure_attributes = attrs()
                        .addClass('image_container' ~ floatClass|default(''))
                    %}
                    {% if margin is defined and margin %}
                        {% set figure_attributes = figure_attributes.set('style', margin) %}
                    {% endif %}
                    {% with {figure: figure, figure_attributes: figure_attributes} %}
                        {{ block('figure_component') }}
                    {% endwith %}
                {% endif %}
            {% endblock %}

            <div class="text">
                {% block event_teaser_title %}
                    {% if hasDetails is defined and hasDetails %}
                        <h2>
                            <a href="{{ href }}"
                               title="{{ title }} ({{ date|kkm_datetime(time, false) }})"
                               {{ target }}>
                                {{ link }}
                            </a>
                        </h2>
                    {% else %}
                        <h2>{{ title }}</h2>
                    {% endif %}
                {% endblock %}

                {% block event_teaser_time %}
                    <p class="time">
                        <time datetime="{{ datetime }}" class="hc-bg-black-ter">
                            {{ date|kkm_datetime(time)|raw }}
                        </time>
                    </p>
                {% endblock %}

                {% block event_teaser_tags %}
                    <div class="tags">
                        {% set tagsUnserialized = tags is iterable ? tags : kkm_tags_load_serialized(tags) %}
                        {% set tagsToDisplay = tagsUnserialized|kkm_tags_list %}

                        {% for tag in tagsToDisplay %}
                            <a href="{{
                                path(
                                    app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params')|merge({
                                        'tag': tag
                                    })
                                )
                            }}">
                                <div class="chip">
                                    {{ tag }}
                                </div>
                            </a>
                        {% endfor %}

                        {% if tags|length != tagsToDisplay|length %}
                            <span>...</span>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block event_teaser_teaser %}
                    <div class="teaser">
                        {{ teaser|raw }}
                    </div>
                {% endblock %}

                {% block event_teaser_more %}
                    {% if hasDetails is defined and hasDetails %}
                        <a class="more" href="{{ href }}">{{ more }}</a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
